.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.fighter-preview___root___info {
  display: grid;
  justify-items: center;
  margin: 50px auto auto;
  width: 150px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
  border-radius: 40px 40px 40px 40px;
}

.fighter-preview___root___info:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

h2 {
  margin: 0;
  text-align: center;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  width: 150px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin-top: 40px;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___change-btn {
  padding: 8px 35px;
  width: 150px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin-top: 10px;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn:hover , .preview-container___change-btn:hover {
  border: 2px solid #ffffff;
}


.preview-container___fight-btn.disabled {
  opacity: 0;
}

.fighter-preview___img{
  width: 500px;
  height: 400px;
}
